.container-output {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-container {
  box-shadow: 4px 4px 8px rgb(126, 126, 126);
  border-radius: 10px;
  text-align: center;
}

.wrapper {
  padding: 30px;
}
.card-output {
  padding: 10px;
  width: 5%;
  background-color: rgb(204, 198, 198);
  border-radius: 22px;
  text-align: center;
  box-shadow: 4px 4px 8px rgb(194, 191, 191);
  font-size: 25px;
}

.title-user-input {
  font-size: 26px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.btn-again {
  outline: none;
  border: 1px solid rgb(204, 198, 198);
  padding: 10px 30px;
  border-radius: 4px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn-again:hover {
  cursor: pointer;
  background-color: #838383;
  color: white;
  transition: 0.6s;
}
